<div class="<%= width %>">
    <!--Metric Card-->
    <div class="bg-gradient-to-b from-indigo-200 to-indigo-100 border-b-4 border-indigo-600 rounded-lg shadow-xl p-5">
        <div class="flex flex-row items-center">
            <div class="flex-shrink pr-4">
                <div class="rounded-full p-5 bg-indigo-600"><i class="fa <%= @icon %> fa-2x fa-inverse"></i></div>
            </div>
            <div class="flex-1 text-right md:text-center">
                <h2 class="font-bold uppercase text-gray-600"><%= @title %></h2>
                <%= content %>
                <p class="font-bold text-3xl"><%= @value %> <span class="text-indigo-500"></i></span></p>
            </div>
        </div>
    </div>
    <!--/Metric Card-->
</div>