<div id="<%= dom_id policy_published %>">
  <p>
    <strong>Domain:</strong>
    <%= policy_published.domain %>
  </p>

  <p>
    <strong><a href='https://mxtoolbox.com/dmarc/details/dmarc-tags/adkim'>ADKIM:</a></strong>
    <%= policy_published.adkim %>
  </p>

  <p>
    <strong>ASPF:</strong>
    <%= policy_published.aspf %>
  </p>

  <p>
    <strong>P:</strong>
    <%= policy_published.p %>
  </p>

  <p>
    <strong>PCT:</strong>
    <%= policy_published.pct %>
  </p>

</div>
