<div id="<%= dom_id policy_published %>">
  <p>
    <strong>Domain:</strong>
    <%= policy_published.domain %>
  </p>

  <p>
    <strong>Adkim:</strong>
    <%= policy_published.adkim %>
  </p>

  <p>
    <strong>Aspf:</strong>
    <%= policy_published.aspf %>
  </p>

  <p>
    <strong>P:</strong>
    <%= policy_published.p %>
  </p>

  <p>
    <strong>Pct:</strong>
    <%= policy_published.pct %>
  </p>

</div>
