<% content_for :page_title do %>
   <%= @policy_published.domain %>
<% end %>
<% [:adkim, :aspf, :p, :pct].each do |column| %>
  <%= render(MetricComponent.new(title: PolicyPublished.human_attribute_name(column), icon: 'fa-tasks', value: @policy_published[column], width: :narrow)) %>
<% end %>

<%= render(CardComponent.new(title: Report.model_name.human(count: @policy_published.reports), width: :full)) do %>
  <%= render(TableComponent.new(columns: [:org_name, :begin, :end] , data: @policy_published.reports)) %>
<% end %>


<div>
  <%= link_to "Edit this policy published", edit_policy_published_path(@policy_published) %> |
  <%= link_to "Back to policy publisheds", policy_publisheds_path %>

  <%= button_to "Destroy this policy published", @policy_published, method: :delete %>
</div>
