<h3>xxx</h3>
<div id="<%= dom_id record %>">
  <p>
    <strong>Report:</strong>
    <%= record.report_id %>
  </p>

  <p>
    <strong>Source ip:</strong>
    <%= record.source_ip %>
  </p>

  <p>
    <strong>Dkim:</strong>
    <%= record.dkim %>
  </p>

  <p>
    <strong>Spf:</strong>
    <%= record.spf %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= record.type %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= record.comment %>
  </p>

  <p>
    <strong>Header from:</strong>
    <%= record.header_from %>
  </p>

  <p>
    <strong>Dkim domain:</strong>
    <%= record.dkim_domain %>
  </p>

  <p>
    <strong>Dkim result:</strong>
    <%= record.dkim_result %>
  </p>

  <p>
    <strong>Dkim hresult:</strong>
    <%= record.dkim_hresult %>
  </p>

  <p>
    <strong>Spf domain:</strong>
    <%= record.spf_domain %>
  </p>

  <p>
    <strong>Spf result:</strong>
    <%= record.spf_result %>
  </p>

</div>
