<tr id="<%= record.id %>">
  <td><%= record.source_ip %></td>
  <td><%= record.dkim %></td>
  <td><%= record.spf %></td>
  <td><%= record.type %></td>
  <td><%= record.comment %></td>
  <td><%= record.header_from %></td>
  <td><%= record.dkim_domain %></td>
  <td><%= record.dkim_result %></td>
  <td><%= record.dkim_hresult %></td>
  <td><%= record.spf_domain %></td>
  <td><%= record.spf_result %></td>
  <td><%= record.count %></td>
  <td><%= record.disposition %></td>
  <td><%= record.reason_type %></td>
  <td><%= record.reason_comment %></td>
</tr>

