<p style="color: green"><%= notice %></p>

<%= render @report %>

<h2>Records</h2>
<table>
<%= render partial: "record_header" %>
<%= render partial: "record_list", collection: @report.records, as: :record %>
</table>
<div>
  <%#= link_to "Edit this report", edit_report_path(@report) %> |
  <%= link_to "Back to reports", reports_path %>

  <%= button_to "Destroy this report", @report, method: :delete %>
</div>
